@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);

@theme {
  --color-mint-500: oklch(0.72 0.11 20);
  --font-poppins: "poppins";
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.scroll-w-0 {
  scrollbar-width: none;
}
